DSDIndestructibles3.Web/Service References/Services.SolicitudServicio/SolicitudServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SolicitudServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:29231/SolicitudServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:29231/SolicitudServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:29231/SolicitudServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DSDIndestructibles3.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISolicitudServicio_Registrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrar" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_Registrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_Actualizar_InputMessage">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_Actualizar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ListarBandeja_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarBandeja" />
  </wsdl:message>
  <wsdl:message name="ISolicitudServicio_ListarBandeja_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarBandejaResponse" />
  </wsdl:message>
  <wsdl:portType name="ISolicitudServicio">
    <wsdl:operation name="Registrar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/Registrar" message="tns:ISolicitudServicio_Registrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/RegistrarResponse" message="tns:ISolicitudServicio_Registrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/Actualizar" message="tns:ISolicitudServicio_Actualizar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/ActualizarResponse" message="tns:ISolicitudServicio_Actualizar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/Eliminar" message="tns:ISolicitudServicio_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/EliminarResponse" message="tns:ISolicitudServicio_Eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/Obtener" message="tns:ISolicitudServicio_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/ObtenerResponse" message="tns:ISolicitudServicio_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarBandeja">
      <wsdl:input wsaw:Action="http://tempuri.org/ISolicitudServicio/ListarBandeja" message="tns:ISolicitudServicio_ListarBandeja_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISolicitudServicio/ListarBandejaResponse" message="tns:ISolicitudServicio_ListarBandeja_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISolicitudServicio" type="tns:ISolicitudServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registrar">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarBandeja">
      <soap:operation soapAction="http://tempuri.org/ISolicitudServicio/ListarBandeja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SolicitudServicio">
    <wsdl:port name="BasicHttpBinding_ISolicitudServicio" binding="tns:BasicHttpBinding_ISolicitudServicio">
      <soap:address location="http://localhost:29231/SolicitudServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>