DSDIndestructibles3.Web/Service References/SolicitudServicioServices/SolicitudServicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:29231/SolicitudServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DSDIndestructibles3.Entities" />
  <xs:element name="Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DSDIndestructibles3.Entities" minOccurs="0" name="oSolicitudServicioBE" nillable="true" type="q1:SolicitudServicioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DSDIndestructibles3.Entities" minOccurs="0" name="oSolicitudServicioBE" nillable="true" type="q2:SolicitudServicioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DSDIndestructibles3.Entities" minOccurs="0" name="ObtenerResult" nillable="true" type="q3:SolicitudServicioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarBandeja">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaDesde" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaHasta" type="xs:dateTime" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empresaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarBandejaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DSDIndestructibles3.Entities" minOccurs="0" name="ListarBandejaResult" nillable="true" type="q4:ArrayOfSolicitudServicioBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>