DSDIndestructibles3.Web/Service References/Services.Terminal/TerminalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DSDIndestructibles3.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DSDIndestructibles3.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTerminalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TerminalDTO" nillable="true" type="tns:TerminalDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerminalDTO" nillable="true" type="tns:ArrayOfTerminalDTO" />
  <xs:complexType name="TerminalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comunicacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaMod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaReg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminalId" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsrMod" type="xs:int" />
      <xs:element minOccurs="0" name="UsrReg" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminalDTO" nillable="true" type="tns:TerminalDTO" />
</xs:schema>