DSDIndestructibles3.Web/Service References/Services.MotivoSolicitud/MotivoSolicitudService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DSDIndestructibles3.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DSDIndestructibles3.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMotivoSolicitudDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MotivoSolicitudDTO" nillable="true" type="tns:MotivoSolicitudDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMotivoSolicitudDTO" nillable="true" type="tns:ArrayOfMotivoSolicitudDTO" />
  <xs:complexType name="MotivoSolicitudDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaMod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaReg" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MotivoSolicitudId" type="xs:int" />
      <xs:element minOccurs="0" name="UsrMod" type="xs:int" />
      <xs:element minOccurs="0" name="UsrReg" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MotivoSolicitudDTO" nillable="true" type="tns:MotivoSolicitudDTO" />
</xs:schema>